@model OperAndNumb
@{
    ViewData["Title"] = "Quiz";
}
<h1 class="Title">@ViewData["Title"]</h1>

<div class="CalcMenu">
    <h2 style="font-size: 20px">@Model.First  @Model.Operand @Model.Second =</h2>
    <form method="post">
        @Html.TextBoxFor(p=>p.YourAnswer) @Html.ValidationMessageFor(p=>p.YourAnswer)
        <br>
        <input type="submit" value="Next" name="Action" style="border-radius: 8px">
        <input type="submit" value="Finish" name="Action" style="border-radius: 8px; background-color: aqua">
        <input type ="hidden" name="First" value="@Model.First">
        <input type ="hidden" name="Operand" value="@Model.Operand">
        <input type ="hidden" name="Second" value="@Model.Second">
    </form>
</div>