@model Acc
<div class="text-left">
    <h1 class="display-4">Sign up result</h1>
</div>
@Model.FirstName
<br>
@Model.LastName
<br>
@Model.Day
@Model.Month
@Model.Year
<br>
@Model.Email
<br>
@Model.Password
<br>
@Model.Code
<br>



