@model Acc 
    <div class="text-left">
        <h1 class="display-4">Sign up</h1>
    </div>
<form method="post">
    <b>@Html.LabelFor(p => p.FirstName) </b><br>
    @Html.EditorFor(p => p.FirstName) @Html.ValidationMessageFor(p => p.FirstName)<br>
    <b>@Html.LabelFor(p => p.LastName) </b><br>
    @Html.EditorFor(p => p.LastName) @Html.ValidationMessageFor(p => p.LastName)<br>
    <b>Birthday</b><br>
    @Html.DropDownListFor((p => p.Day), ViewBag.DaysSelect as SelectList)
    @Html.DropDownListFor((p => p.Month), ViewBag.MonthsSelect as SelectList)
    @Html.DropDownListFor((p => p.Year), ViewBag.YearsSelect as SelectList)<br>
    <b>@Html.LabelFor(p => p.Gender)</b> @Html.ValidationMessageFor(p=>p.Gender)<br>
    @Html.RadioButtonFor((p => p.Gender), "Male")Male<br>
    @Html.RadioButtonFor((p => p.Gender), "Female")Female<br>
    <input type="submit" value="Sign up">
</form>
