@model Acc 
    <div class="text-left">
        <h1 class="display-4">Sign up</h1>
    </div>
    <form method="post">
        <b>@Html.LabelFor(p => p.Email) </b><br>
        @Html.TextBoxFor(p => p.Email) @Html.ValidationMessageFor(p => p.Email)<br>
        <b>@Html.LabelFor(p => p.Password) </b><br>
        @Html.PasswordFor(p => p.Password) @Html.ValidationMessageFor(p => p.Password)<br>
        <b>Confirm @Html.LabelFor(p => p.Password) </b><br>
        @Html.PasswordFor(p => p.ComparePassword)<br>
        <input type="submit" value="Compete sign up">
    </form>
