@{
    ViewData["Title"] = "PassUsingViewData";
}

    <div class="text-left">
        @{
            var calc = ViewData["CalcClass"]
                as BackendLab.Models.CalcClass;
        }
        <h1 class="display-4">PassUsingModel</h1>
        <h1>Rand Value First : @calc.First</h1>
        <h1>Rand Value Second :@calc.Second </h1>
        <h1>Add :</h1>
        <p>@calc.First + @calc.Second = @calc.Add </p>
        <h1>Sub :</h1>
        <p>@calc.First - @calc.Second = @calc.Sub</p>
        <h1>Mult :</h1>
        <p>@calc.First * @calc.Second = @calc.Mult</p>
        <h1>Div :</h1>
        <p>@calc.First / @calc.Second = @calc.Div</p>
    </div>
