@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">PassUsingModel</h1>
    <h1>Rand Value First : @Model.First</h1>
    <h1>Rand Value Second :@Model.Second </h1>
    <h1>Add :</h1>
    <p>@Model.First + @Model.Second = @Model.Add </p>
    <h1>Sub :</h1>
    <p>@Model.First - @Model.Second = @Model.Sub</p>
    <h1>Mult :</h1>
    <p>@Model.First * @Model.Second = @Model.Mult</p>
    <h1>Div :</h1>
    <p>@Model.First / @Model.Second = @Model.Div</p>
</div>
