@{
    ViewData["Title"] = "PassUsingViewBag";
}

    <div class="text-left">
        <h1 class="display-4">PassUsingViewBag</h1>
        <p>Rand Value First :@ViewBag.First</p>
        <p>Rand Value Second :@ViewBag.Second</p>
        <h1>Add :</h1>
        <p>@ViewBag.First + @ViewBag.Second = @ViewBag.Add</p>
        <h1>Sub :</h1>
        <p>@ViewBag.First - @ViewBag.Second = @ViewBag.Sub</p>
        <h1>Mult :</h1>
        <p>@ViewBag.First * @ViewBag.Second = @ViewBag.Mult</p>
        <h1>Div :</h1>
        <p>@ViewBag.First / @ViewBag.Second = @ViewBag.Div</p>
    </div>
