@{
    ViewData["Title"] = "PassUsingViewData";
}

    <div class="text-left">
        <h1 class="display-4">PassUsingViewData</h1>
        <p>Rand Value First : @ViewData["First"]</p>
        <h1>Rand Value Second :@ViewData["Second"]</h1>
        <h1>Add :</h1>
        <p>@ViewData["First"] + @ViewData["Second"] = @ViewData["Add"] </p>
        <h1>Sub :</h1>
        <p>@ViewData["First"] - @ViewData["Second"] = @ViewData["Sub"]</p>
        <h1>Mult :</h1>
        <p>@ViewData["First"] * @ViewData["Second"] = @ViewData["Mult"]</p>
        <h1>Div :</h1>
        <p>@ViewData["First"] / @ViewData["Second"] = @ViewData["Div"]</p>
    </div>
