<div class="text-left">
    <h1 class="display-4">Radio</h1>
</div>
<form method="post">
    <b>Radio</b><br />
    @Html.RadioButton("Value", "January")<span>January</span><br>
    @Html.RadioButton("Value", "February")<span>February</span><br>
    @Html.RadioButton("Value", "March")<span>March</span><br>
    @Html.RadioButton("Value", "April")<span>April</span><br>
    @Html.RadioButton("Value", "May")<span>May</span><br>
    @Html.RadioButton("Value", "June")<span>June</span><br>
    @Html.RadioButton("Value", "July")<span>July</span><br>
    @Html.RadioButton("Value", "August")<span>August</span><br>
    @Html.RadioButton("Value", "Septemer")<span>Septemer</span><br>
    @Html.RadioButton("Value", "October")<span>October</span><br>
    @Html.RadioButton("Value", "November")<span>November</span><br>
    @Html.RadioButton("Value", "December")<span>December</span><br>
    <input type="submit" value="Submit">
</form>
